.Item{
     /* background: url('../../images/xbox.jpg') no-repeat center center;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     display: flex;
  flex-direction: column;
}

.description{
    background-color:rgba(0, 0, 0, .4);
    width: 100%;
    height: 80px;
    color:white;
    margin-top:120px;
   margin-top: auto;
}

.descriptionText{
    font-size: .75rem;
    margin-bottom:10px;
    text-align: center
}

.title{
    font-size: 1rem;
    text-align: center;
}

.leftBarOnSearch{
    position: fixed;
    top: 0;
    width: 180px;
    height:100vh;
    margin-top:65px;
    background-color: #FFCC80;
    text-align: center;
}

.leftBarOnSearch Button{
    width:100%;
    background-color: white;
    margin: 0px 0;
}

button :active{
    background-color: 'red'
}

.SearchContainer{
     display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
     grid-column: 2/5;
     margin-left:180px;
}

.categories{
     display: flex; 
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
    align-content: stretch;
    background-color:white;
    padding: 20px;
    margin-top: 30px;
}

.categories p{
    align-items: center;
    width:100%
}