.AddListingContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	 overflow: hidden; 
	/* width:100% */
}

.halfFirstInput {
	margin: 30px 15px 15px 30px;
	padding: 20px;
	text-align: center;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

.halfSecondInput {
	margin: 30px 30px 15px 15px;
	padding: 20px;
	text-align: center;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

.halfFirst {
	margin: 30px 15px 15px 30px;
	padding: 20px;
	text-align: center;
	min-height: 200px;
}

.halfSecond {
	margin: 30px 30px 15px 15px;
	padding: 20px;
	text-align: center;
	min-height: 200px;
}

.FullRow {
	margin: 15px 30px;
	grid-column: 1/3;
	padding: 20px;
	min-height: 200px;
}

.AddListingHeading {
	font-size: 2.5rem;
	margin: 30px;
	padding-top: 30px;
}

.PictureUploadContainer div {
	margin: auto;
	padding: 20px;
}

.ProsAndCons {
	width: 100%;
}

.InputandButton {
	display: flex;
}

.buttonAdd {
	height: 10px;
	position: relative;
	bottom: -20px;
}

.ProAndCon {
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.uploadedImage {
	width: 100px;
	height: 100px;
}

.mappedImages {
	max-width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.mappedImages img {
	padding: 10px;
}

.uploadButton {
	position: relative;
	bottom: 0px;
	width: 25%;
}

.categoryButtons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
	margin: 50px 10px;
}

/* .categoryButtons Button{
    color:white;
} */

.createListing_Electronics {
	background-color: rgb(53, 138, 255) !important;
}

.createListing_Home {
	background-color: rgb(147, 74, 255) !important;
}

.createListing_Sports {
	background-color: rgb(104, 208, 52) !important;
}

.createListing_Parts {
	background-color: rgb(151, 151, 151) !important;
}

.createListing_Free {
	background-color: rgb(255, 127, 127) !important;
	color: white !important;
}

.createListing_Electronics_Clicked {
	background-color: #0277bd !important;
}

.createListing_Home_Clicked {
	background-color: #6a1b9a !important;
	color: white !important;
}

.createListing_Sports_Clicked {
	background-color: #00695c !important;
	color: white !important;
}

.createListing_Parts_Clicked {
	background-color: #424242 !important;
	color: white !important;
}

.createListing_Free_Clicked {
	background-color: #d84315 !important;
	color: white !important;
}

.createButton {
	background-color: #4fc3f7 !important;
	color: white !important;
	width: 30px !important;
	margin: auto !important;
	/* margin-bottom: 20px !important;      */
}

.Details_addListing {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
	margin: 10px;
}

.Details_addListing p {
	margin: 10px;
}

.InputsInDiv {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
	margin: 10px;
}

@media screen and (max-width: 900px) {
	.AddListingContainer {
		grid-template-columns: repeat(1, 1fr);
	}
	.halfFirst {
		margin: 10px;
		grid-column: 1/3;
	}
	.halfSecond {
		margin: 10px;
		grid-column: 1/3;
	}
	.FullRow {
		margin: 10px;
		grid-column: 1/3;
	}
}
