.chats_container {
	display: flex;
	margin: auto;
	height: 94vh;
}

.chat_container {
	height: 94vh;
	display: flex;
}

.chats_listings {
	display: flex;
	flex-direction: column;
	width: 12vw;
	align-items: center;
	background-color: white;
}

.chats_messages_container {
	display: flex;
	width: 60vw;
	height: 80vh;
	flex-direction: column;
	align-items: center;
}

.chats_all_messages {
	width: 50vw;
	height: 75vh;
	margin-top: 30px;
	overflow-y: scroll;
}

.chats_profile_container {
	width: 28vw;
	height: 94vh;
	background-color: #f9f9f9;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-left: 1px solid rgb(199, 199, 199);
}

.listings_chat_avatar {
	width: 80px !important;
	height: 80px !important;
	margin: 15px;
}

.listings_profile_avatar {
	width: 150px !important;
	height: 150px !important;
	margin-bottom: 20px;
}

.left_comment_container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
	align-items: center;
}

.left_message {
	min-width: 50%;
	height: 100%;
	display: flex;
	background-color: #e0e0e0;
	padding: 2px;
	border-radius: 2px;
}

.left_message h1 {
	padding: 10px;
}

.left_message_container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.left_time_submitted {
	font-size: 12px;
	color: rgb(157, 157, 157);
}

.right_comment_container {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 10px;
	align-items: center;
}

.right_message {
	min-width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #b3e5fc;
	border-radius: 2px;
	padding: 2px;
}

.right_message h1 {
	padding: 10px;
}

.right_message_container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.right_time_submitted {
	font-size: 12px;
	color: rgb(157, 157, 157);
}

.profile_pic {
	width: 50px;
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 50%;
}

.listings_chat_avatar_container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	cursor: pointer;
}

.listings_chat_avatar_container:hover,
.listings_chat_avatar_container:active {
	background-color: #f5f5f5;
}

.chats_inputbox_container {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 50%;
    min-height: 76px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.chats_inputbox_container textarea {
    width: 100%;
    height: 50px;
    border-style: none;
    box-sizing: border-box;
    resize: none;
    font-size: 12px;
	font-weight: lighter;
	font-size: 14px;
}

.chats_inputbox_container button {
    width: 100%;
    height: 30px;
    font-size: 14px;
    font-weight: lighter;
    border: none;
    background-color: #4fc3f7;
	color: white;
}

.View_Profile_Button {
	height: 2vw;
	width: 50%;
	font-size: 0.9vw;
	background-color: #4fc3f7 !important;
	color: white !important;
	border: none;
	margin-bottom: 40px;
	margin-top: 15px;
}

/* @media screen and (max-width: 900px) {
	.chats_container {
		grid-template-columns: repeat(1, 1fr);
    }

    .chats_listings {
        grid-column: 1/2;
        height: 100vh;
        background-color: lightsalmon;
    }
    
    .chats_messages_container {
        grid-column: 1/2;
        background-color: lightseagreen;
    }
    
    .chats_profile_container {
        grid-column: 1/2;
        background-color: lightcoral;
    }
    
} */
