* {
	text-decoration: none;
}

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.input {
	display: none;
}

.navtoolbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.search {
	width: 50vw;
	position: relative;
}

.searchTerm {
	float: left;
	width: 100%;
	border: 3px solid white;
	padding: 5px;
	height: 20px;
	border-radius: 5px;
	outline: none;
	color: black;
}

.searchTerm:focus {
	color: black;
}

.searchButton {
	position: absolute;
	right: -50px;
	width: 40px;
	height: 36px;
	border: 1px solid white;
	background: white;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (min-width: 960px) {
	.Menu {
		display: none;
	}

	.input {
		display: block;
	}
}

.navtoolbar div button {
  color: white;
}
