.imgContainer img{
    /* height:330px; */
    width:100%;
    margin: auto 
}

.imgContainer{
    max-width: 475px;
    overflow: hidden;
    margin:auto
}


.leftBar{
    position: fixed;
    top: 0;
    width: 200px;
    height:100vh;
    margin-top:65px;
    background-color:white;
    text-align: center;
}

.leftBar Button{
    width:100%;
    background-color: white;
    margin: 0px 0;
}

.ListingInfoContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-left:200px;
}

/* .ListingInfoContainer > *{
    margin:30px;
    padding:20px;
    text-align: center
} */
 .half1{
    margin:30px 15px 15px 30px;
    padding:20px;
    text-align: center
} 

  .half{
    margin:30px 30px 15px 15px;
    padding:20px;
    text-align: center
}  

.full{
    margin:15px 30px;
    grid-column: 1/3;
    padding: 20px
}

.topMenuThing{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width:100%
}

.topMenuThing div{
     display: flex; 
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.logos{
     display: flex; 
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.logos img{
    width:30px;
    height:30px
}

.moreFromThisSellerContainer{
    background-color: white;
    padding-top: 10px;
}

.moreFromThisSeller{
    width: 100%;
    text-align: center;
    background-color: white;
}
.moreFromThisSeller img{
    width:90%;
    margin: 10px 0;
}

.moreFromThisSeller caption{
    text-align: center;
    width: 200px
}

.button_cursor {
    cursor: pointer;
}

@media screen and (max-width: 900px) { 
		.ListingInfoContainer{
             grid-template-columns: repeat(1, 1fr);
 
        }
        .half{
              margin:10px ;
                grid-column: 1/3;
            } 
            .half1{
               margin:10px ;
                grid-column: 1/3; 
            }
            .full{
                margin:10px ;
                grid-column: 1/3;
            }
	}
 